.userInfo {
    display: flex;
    align-items:center;
}

.userName {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #212121
}

.exitBtn {
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    color: #9B9FAA;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.exitBtn::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 32px;
    margin-left: 10px;
    margin-right: 10px;
    transform: rotate(90deg);
    border-bottom: 2px solid #E0E0E0;
}
